/*Menu CSS*/
.menu {
    overflow: hidden;
    background-color: #333; 
}
.menu a {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.sub-menu {
    float: left;
    overflow: hidden;
}
.sub-menu .menubtn {
    font-size: 20px;  
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.menu a:hover, .sub-menu:hover .menubtn {
    background-color: rgb(255, 49, 49);
}
.sub-menu_content {
    display: none;
    position: absolute;
    background-color: rgb(247, 108, 108);
    z-index: 1;
}
.sub-menu_content a {
    float: left;
    color: white;
    text-decoration: none;
}
.sub-menu_content a:hover {
    background-color: #eee;
    color: black;
}
.sub-menu:hover .sub-menu_content {
    display: block;
}

/*Content CSS*/
body{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    background-color: rgb(255, 228, 228);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
     text-align: center;
}
.top-banner{
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: #333;
    text-align: center;
    margin-top: -60px;
    margin-bottom: -55px;
    padding-bottom: 5px;
}
.page-title{
    text-decoration: underline;
}
.content{
    display:inline-flex;
    padding-left: 40px;
    padding-right: 40px;
}
.main-text{
    width: 50%;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-radius: 15%;
}
.text-adjust{
    position: relative;
    padding-top: 20px;
}
.image{
    width: 50%;
}
#map_of_poland{
    height: 300px;
    width: 300px;
    position: relative;
    padding-top: 30px;
    padding-left: 100px;
}
#zurich_city{
    height: 263.25px;
    width: 500px;
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
}
#giedlarowa_map{
    height: 307px;
    width: 343px;
    position: relative;
    padding-top: 40px;
    padding-left: 50px;
}
#zagrodki_map{
    height: 307px;
    width: 343px;
    position: relative;
    padding-top: 30px;
    padding-left: 50px;
}
#lancut_castle{
    height: 378px;
    width: 504px;
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
}
#carpathian_mountains{
    height: 347px;
    width: 500px;
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
}
#trzy_korony{
    height: 272px;
    width: 408px;
    position: relative;
    padding-top: 50px;
    padding-left: 70px;
}
#wawel_castle{
    height: 342px;
    width: 535px;
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
}
#wieliczka_salt_mine{
    height: 342px;
    width: 512px;
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
}
#olsztyn{
    height: 338px;
    width: 600px;
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
}
#kolobrzeg{
    height: 413px;
    width: 442px;
    position: relative;
    padding-top: 10px;
    padding-left: 50px;
}
#center_text{
    position: relative;
    padding-left: 450px;
}